APP_NAME=devConnect
PORT=3000
NODE_ENV=dummy_environment
LOG_LEVEL=debug
MONGO_URI=dummy_mongo_uri
JWT_SECRET=dummy_jwt_secret
AWS_USER_ACCESS_KEY_ID=dummy_aws_access_key_id
AWS_USER_SECRET_ACCESS_KEY=dummy_aws_secret_access_key
AWS_USER_REGION=dummy_aws_region
AWS_SQS_EMAIL_QUEUE_URL=dummy_aws_sqs_email_queue_url
SENDER_EMAIL_ADDRESS=dummy_sender_email@example.com
EMAIL_SERVICE_ENABLED=true
WHITE_LISTED_URLS=dummy_whitelisted_url1,dummy_whitelisted_url2
ADMIN_EMAIL_ADDRESS=dummy_admin_email@example.com
CRON_FREQUENCY_FOR_ADMIN_EMAIL=0 0 * * 1
#every 5 minutes =*/5 * * * *
RAZORPAY_KEY_ID=dummy_razorpay_key_id
RAZORPAY_KEY_SECRET=dummy_razorpay_key_secret
S3_PROFILE_BUCKET=dummy_s3_profile_bucket
CLOUDFRONT_DOMAIN=dummy_cloudfront_domain
RAZORPAY_WEBHOOK_SECRET=dummy_razorpay_webhook_secret